In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('./data/seoul_house_price.csv')

In [6]:
df.isnull().sum()

지역명          0
규모구분         0
연도           0
월            0
분양가격(㎡)    295
dtype: int64

In [7]:
df.shape

(4505, 5)

In [8]:
df.dtypes

지역명        object
규모구분       object
연도          int64
월           int64
분양가격(㎡)    object
dtype: object

In [10]:
df.head()

  지역명               규모구분    연도   월 분양가격(㎡)
0  서울                 전체  2015  10    5841
1  서울         전용면적 60㎡이하  2015  10    5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4  서울        전용면적 102㎡초과  2015  10    5879

In [11]:
df.columns = ['지역명', '규모구분', '연도', '월', '분양가격']

In [13]:
df.head()

  지역명               규모구분    연도   월  분양가격
0  서울                 전체  2015  10  5841
1  서울         전용면적 60㎡이하  2015  10  5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4  서울        전용면적 102㎡초과  2015  10  5879

In [19]:
df.loc[df['분양가격']=='  ','분양가격']=None

In [21]:
df.isnull().sum()

지역명       0
규모구분      0
연도        0
월         0
분양가격    311
dtype: int64

In [27]:
df_notnull=df[df['분양가격'].notnull()]

In [31]:
df['분양가격'][0]

'5841'

In [33]:
df['분양가격'].str.replace('','')

0       5841
1       5652
2       5882
3       5721
4       5879
        ...
4500    3955
4501    4039
4502    3962
4503     NaN
4504    3601
Name: 분양가격, Length: 4505, dtype: object

In [34]:
[int(i) for i in df['분양가격']]

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

In [37]:
df_notnull=df[df['분양가격'][0].notnull()]

AttributeError: 'str' object has no attribute 'notnull'

In [41]:
df.loc[df['분양가격']=='-','분양가격']=None

In [ ]:
#df에서 isnull만 추출
#df분양가격의 isnull을 연도별, 지역별, 규모별, 분양가격 평균으로 채우기