In [71]:
import pandas as pd

In [72]:
df=pd.read_csv('./data/seoul_house_price.csv')

In [73]:
df.isnull().sum()

지역명          0
규모구분         0
연도           0
월            0
분양가격(㎡)    295
dtype: int64

In [74]:
df.shape

(4505, 5)

In [75]:
df.dtypes

지역명        object
규모구분       object
연도          int64
월           int64
분양가격(㎡)    object
dtype: object

In [76]:
df.head()

  지역명               규모구분    연도   월 분양가격(㎡)
0  서울                 전체  2015  10    5841
1  서울         전용면적 60㎡이하  2015  10    5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4  서울        전용면적 102㎡초과  2015  10    5879

In [77]:
df.columns=['지역명', '규모구분', '연도', '월', '분양가격']

In [78]:
df.head()

  지역명               규모구분    연도   월  분양가격
0  서울                 전체  2015  10  5841
1  서울         전용면적 60㎡이하  2015  10  5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4  서울        전용면적 102㎡초과  2015  10  5879

In [79]:
#df['분양가격']=='  '  None 채우기
df.loc[df['분양가격']=='  ','분양가격']=None

In [80]:
df.isnull().sum()

지역명       0
규모구분      0
연도        0
월         0
분양가격    311
dtype: int64

In [81]:
#분양가격 ',' 없애기

df['분양가격']=df['분양가격'].str.replace(',','')

In [82]:
#'분양가격']=='-' 에 None 입력
df.loc[df['분양가격']=='-','분양가격']=None

In [83]:
# 분양가격 notnull 표를 따로 저장함
df_not_null=df[df['분양가격'].notnull()]

In [84]:
df_not_null['분양가격']=df_not_null['분양가격'].astype('int')

C:\Users\HKEDU\AppData\Local\Temp\ipykernel_19900\3753755776.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_null['분양가격']=df_not_null['분양가격'].astype('int')

In [85]:
df_not_null.dtypes

지역명     object
규모구분    object
연도       int64
월        int64
분양가격     int32
dtype: object

In [ ]:
# 1. df 분양가격에서...  isnull만추출
# 최종미션: df분양가격의 isnull을  연도별, 지역별,규모별, 분양가격 평균으로 채우기