In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('./data/seoul_house_price.csv')

In [3]:
df.head()

  지역명               규모구분    연도   월 분양가격(㎡)
0  서울                 전체  2015  10    5841
1  서울         전용면적 60㎡이하  2015  10    5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4  서울        전용면적 102㎡초과  2015  10    5879

In [7]:
df.columns=['지역명','규모별','연도','월','분양가']

In [9]:
df.head()

  지역명                규모별    연도   월   분양가
0  서울                 전체  2015  10  5841
1  서울         전용면적 60㎡이하  2015  10  5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4  서울        전용면적 102㎡초과  2015  10  5879

In [12]:
df.groupby(['연도','지역명','규모별']).mean()

                               월
연도   지역명 규모별
2015 강원  전용면적 102㎡초과        11.0
         전용면적 60㎡이하         11.0
         전용면적 60㎡초과 85㎡이하   11.0
         전용면적 85㎡초과 102㎡이하  11.0
         전체                 11.0
...                          ...
2020 충북  전용면적 102㎡초과         1.5
         전용면적 60㎡이하          1.5
         전용면적 60㎡초과 85㎡이하    1.5
         전용면적 85㎡초과 102㎡이하   1.5
         전체                  1.5

[510 rows x 1 columns]

In [18]:
df.loc[df['분양가']=='  ','분양가']=None

In [19]:
df.isnull().sum()

지역명      0
규모별      0
연도       0
월        0
분양가    311
dtype: int64

In [23]:
df_notnull=df[df['분양가'].notnull()]

In [29]:
df['분양가']=df['분양가'].str.replace(',','')

In [37]:
df.loc[df['분양가']=='-','분양가']=None

In [38]:
df_notnull=df[df['분양가'].notnull()]

In [40]:
df_notnull['분양가']=df_notnull['분양가'].astype('int')

C:\Users\user\AppData\Local\Temp\ipykernel_13916\3652990564.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_notnull['분양가']=df_notnull['분양가'].astype('int')

In [41]:
df_notnull.dtypes

지역명    object
규모별    object
연도      int64
월       int64
분양가     int32
dtype: object

In [46]:
df_mean=df_notnull.groupby(['연도','지역명','규모별']).mean()[['분양가']]

In [47]:
df_mean

                                    분양가
연도   지역명 규모별
2015 강원  전용면적 102㎡초과        2171.000000
         전용면적 60㎡이하         2290.000000
         전용면적 60㎡초과 85㎡이하   2199.333333
         전용면적 85㎡초과 102㎡이하  2061.000000
         전체                 2169.666667
...                                 ...
2020 충북  전용면적 102㎡초과        2532.000000
         전용면적 60㎡이하         2372.000000
         전용면적 60㎡초과 85㎡이하   2340.500000
         전용면적 85㎡초과 102㎡이하  2634.000000
         전체                 2350.000000

[488 rows x 1 columns]