In [1]:
print('hello world')

hello world

In [2]:
print("mary's cosmetics")

mary's cosmetics

In [4]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [5]:
print("C:\Windows")

C:\Windows

In [6]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [7]:
print("오늘은", "일요일")

오늘은 일요일

In [9]:
print('naver','kakao','sk','samsung', sep=";")

naver;kakao;sk;samsung

In [10]:
print('naver','kakao','sk','samsung', sep="/")

naver/kakao/sk/samsung

In [11]:
print("first", end="");print("second")

firstsecond

In [13]:
a=5
b=3
print(a/b)
print(5/3)

1.6666666666666667
1.6666666666666667

In [15]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [17]:
시가총액 = 2980000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

2980000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [23]:
s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [24]:
2 + 2 * 3

8

In [31]:
a = 128
print(type(a))

<class 'int'>

In [30]:
a = "132"
print(type("a"))

<class 'str'>

In [45]:
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [44]:
num = 100
num_str = str(num)
print(num, type(num))

100 <class 'int'>

In [46]:
num_str = "15.79"
float = float(num_str)
print(float, type(float))

15.79 <class 'float'>

In [49]:
num_str = 2020
num_int = int(num_str)
print(num_int-3, type(num_int))
print(num_int-2, type(num_int))
print(num_int-1, type(num_int))

2017 <class 'int'>
2018 <class 'int'>
2019 <class 'int'>

In [54]:
월 = 48584
무이자 = 36
print(월 * 무이자)

1749024

In [58]:
letters = 'python'
print(letters[0], letters[2])

p t

In [74]:
a = "24가 2210"
print(a[-4:])

2210

In [77]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [81]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [82]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [86]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [91]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [92]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
print(lang1+lang2)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [100]:
nums = [1, 2, 3, 4, 5, 6, 7]
print("max:", max(nums))
print("min:", min(nums))

max: 7
min: 1

In [101]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [102]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [106]:
import numpy
nums = [1, 2, 3, 4, 5]
average = numpy.mean(nums)
print(f"average : {average}")

average : 3.0

In [108]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [112]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [116]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [121]:
nums = [1, 2, 3, 4, 5]
nums.reverse()
print(nums)
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

In [123]:
interest = ['삼성전자', 'LG전자', 'Naver']
interest.pop(1)
print(interest)
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

['삼성전자', 'Naver']
삼성전자 Naver

In [124]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [126]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [128]:
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [130]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [132]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [134]:
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [138]:
tuple = (1,)
type (tuple)

tuple

In [139]:
원소 값을 바꿀 수 없다

SyntaxError: invalid syntax (3413891285.py, line 1)

In [140]:
튜플

NameError: name '튜플' is not defined

In [149]:
t = ('a', 'b', 'c')
t[0] = 'A'
print(t = ('A', 'b', 'c'))

TypeError: 'tuple' object does not support item assignment

In [152]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
a = list(interest)
print(a)

['삼성전자', 'LG전자', 'SK Hynix']

In [156]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
a = tuple(interest)

TypeError: 'tuple' object is not callable

In [157]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [165]:
data = tuple(range(2, 100, 2)
print(data)

SyntaxError: '(' was never closed (1513131158.py, line 1)

In [166]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _=scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [167]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [168]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [169]:
temp = {}

In [170]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [171]:
ice['죠스바']=1200
ice['월드콘']=1500

In [172]:
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [173]:
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [174]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print("메로나 가격:", ice["메로나"])

메로나 가격: 1000

In [175]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나']=1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [178]:
del ice["메로나"]
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
>> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
>> icecream['누가바']
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바
    
    누가바가 없는데 써서

In [179]:
ice.keys()

dict_keys(['폴로포', '빵빠레', '죠스바', '월드콘'])

In [180]:
inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [186]:
inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}
print(inventory["메로나"][0],"원")

300 원

In [190]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory["메로나"][1],"개")

20 개

In [193]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["월드콘"] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [197]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [200]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
price = list(icecream.values())
print(price)

[1200, 1200, 1800, 1500, 1000]

In [203]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700

In [204]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}