In [1]:
import folium
import pandas as pd
import googlemaps

In [39]:
df=pd.read_csv('./2016년_사망교통사고.csv',encoding='cp949')

In [40]:
df.head()

,발생년,발생년월일시,발생분,주야,요일,사망자수,사상자수,중상자수,경상자수,부상신고자수,...,도로형태_대분류,도로형태,당사자종별_1당_대분류,당사자종별_1당,당사자종별_2당_대분류,당사자종별_2당,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
0,2016,2016122320,35,야간,금,1,1,0,0,0,...,교차로,교차로내,승용차,중형,보행자,보행자,981731,1932086,127.293623,37.387686
1,2016,2016122517,48,주간,일,1,1,0,0,0,...,단일로,기타단일로,승용차,중형,보행자,보행자,945989,1942347,126.889123,37.478777
2,2016,2016122519,5,야간,일,1,1,0,0,0,...,단일로,기타단일로,화물차,소형,보행자,보행자,993981,1879534,127.431592,36.915926
3,2016,2016122610,40,주간,월,1,1,0,0,0,...,단일로,기타단일로,승합차,경형,보행자,보행자,1161153,1751026,129.282183,35.742393
4,2016,2016122819,40,야간,수,1,1,0,0,0,...,단일로,기타단일로,승용차,소형,보행자,보행자,1056276,1686645,128.118016,35.173512

In [41]:
df.dtypes #타입 확인

발생년               int64
발생년월일시            int64
발생분               int64
주야               object
요일               object
사망자수              int64
사상자수              int64
중상자수              int64
경상자수              int64
부상신고자수            int64
발생지시도            object
발생지시군구           object
사고유형_대분류         object
사고유형_중분류         object
사고유형             object
법규위반_대분류         object
법규위반             object
도로형태_대분류         object
도로형태             object
당사자종별_1당_대분류     object
당사자종별_1당         object
당사자종별_2당_대분류     object
당사자종별_2당         object
발생위치X_UTMK        int64
발생위치Y_UTMK        int64
경도              float64
위도              float64
dtype: object

In [42]:
df.columns #columns 출력

Index(['발생년', '발생년월일시', '발생분', '주야', '요일', '사망자수', '사상자수', '중상자수', '경상자수',
       '부상신고자수', '발생지시도', '발생지시군구', '사고유형_대분류', '사고유형_중분류', '사고유형', '법규위반_대분류',
       '법규위반', '도로형태_대분류', '도로형태', '당사자종별_1당_대분류', '당사자종별_1당', '당사자종별_2당_대분류',
       '당사자종별_2당', '발생위치X_UTMK', '발생위치Y_UTMK', '경도', '위도'],
      dtype='object')

In [43]:
df[['발생지시도', '발생지시군구']] #표 만들기

     발생지시도 발생지시군구
0       경기    광주시
1       서울    금천구
2       충북    진천군
3       경북    경주시
4       경남    진주시
...    ...    ...
4114    경기    평택시
4115    전남    함평군
4116    충북    충주시
4117    인천    부평구
4118    경북    구미시

[4119 rows x 2 columns]

In [44]:
df['지역']=df['발생지시도'] + df['발생지시군구'] #지역 안에 발생지시도, 발생지시군구 넣기

In [45]:
df[['발생지시도', '발생지시군구', '지역']]

     발생지시도 발생지시군구     지역
0       경기    광주시  경기광주시
1       서울    금천구  서울금천구
2       충북    진천군  충북진천군
3       경북    경주시  경북경주시
4       경남    진주시  경남진주시
...    ...    ...    ...
4114    경기    평택시  경기평택시
4115    전남    함평군  전남함평군
4116    충북    충주시  충북충주시
4117    인천    부평구  인천부평구
4118    경북    구미시  경북구미시

[4119 rows x 3 columns]

In [46]:
df_res=df.groupby('지역').sum()[['사상자수']].sort_values('사상자수', ascending=False).head(5).reset_index()
#지역을 그룹바이로 묶꼬 사상자수 더하고 사상자수를 내림차순으로 head(5)까지만 표시하고 리셋 인덱스

In [47]:
df_res

          지역  사상자수
0      충북청주시   118
1      경기용인시   111
2  경남창원시(통합)   103
3      충남천안시    86
4      경기평택시    86

In [20]:
gmaps_key = "AIzaSyCZvnX7q7qlQxNNy3wnLKHxlz2xo6sStSI"

In [21]:
gmaps = googlemaps.Client(key=gmaps_key)

In [24]:
tmp=gmaps.geocode('경남창원시(통합)', language='ko') #지도 정보 가져오기

In [25]:
tmp

[{'address_components': [{'long_name': '경상남도',
    'short_name': '경상남도',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': '대한민국',
    'short_name': 'KR',
    'types': ['country', 'political']}],
  'formatted_address': '대한민국 경상남도',
  'geometry': {'bounds': {'northeast': {'lat': 35.9099572, 'lng': 129.2198763},
    'southwest': {'lat': 34.4531494, 'lng': 127.5622163}},
   'location': {'lat': 35.4606, 'lng': 128.2132},
   'location_type': 'APPROXIMATE',
   'viewport': {'northeast': {'lat': 35.9099572, 'lng': 129.2198763},
    'southwest': {'lat': 34.4531494, 'lng': 127.5622163}}},
  'partial_match': True,
  'place_id': 'ChIJNc0j6G3raDURX_k4U2Vg0Oo',
  'types': ['administrative_area_level_1', 'political']}]

In [27]:
tmp[0].keys() #키값

dict_keys(['address_components', 'formatted_address', 'geometry', 'partial_match', 'place_id', 'types'])

In [29]:
tmp[0]['geometry']['location'] #위도 경도 보기

{'lat': 35.4606, 'lng': 128.2132}

In [48]:
df_res

          지역  사상자수
0      충북청주시   118
1      경기용인시   111
2  경남창원시(통합)   103
3      충남천안시    86
4      경기평택시    86

In [49]:
#

res=[]
for i in df_res['지역']:
    tmp = gmaps.geocode(i, language='ko')
    dic = {
            'addr': tmp[0]['formatted_address'],
            'lat': tmp[0]['geometry']['location']['lat'],
            'lng': tmp[0]['geometry']['location']['lng']
    }
    res.append(dic)
res

[{'addr': '대한민국 충청북도 청주시', 'lat': 36.6424341, 'lng': 127.4890319},
 {'addr': '대한민국 경기도 용인시', 'lat': 37.2410864, 'lng': 127.1775537},
 {'addr': '대한민국 경상남도', 'lat': 35.4606, 'lng': 128.2132},
 {'addr': '대한민국 충청남도 천안시', 'lat': 36.815129, 'lng': 127.1138939},
 {'addr': '대한민국 경기도 평택시', 'lat': 36.9921075, 'lng': 127.1129451}]

In [50]:
df1=pd.DataFrame(res)

In [51]:
df1

            addr        lat         lng
0  대한민국 충청북도 청주시  36.642434  127.489032
1   대한민국 경기도 용인시  37.241086  127.177554
2      대한민국 경상남도  35.460600  128.213200
3  대한민국 충청남도 천안시  36.815129  127.113894
4   대한민국 경기도 평택시  36.992108  127.112945

In [53]:
df_res1=pd.concat([df_res, df1],axis=1)

In [54]:
df_res1

          지역  사상자수           addr        lat         lng
0      충북청주시   118  대한민국 충청북도 청주시  36.642434  127.489032
1      경기용인시   111   대한민국 경기도 용인시  37.241086  127.177554
2  경남창원시(통합)   103      대한민국 경상남도  35.460600  128.213200
3      충남천안시    86  대한민국 충청남도 천안시  36.815129  127.113894
4      경기평택시    86   대한민국 경기도 평택시  36.992108  127.112945

In [ ]:
충북청주시: 118명

In [63]:
m = folium.Map(
    location=[36.3504119,127.3845475],
    zoom_start=7,
)

for idx,i in enumerate(df_res1['lat']):
    folium.Marker(
        location=[i, df_res1['lng'][idx]],
        popup=f'{idx+1}위 {df_res1["지역"][idx]}: {df_res1["사상자수"][idx]}명',
        icon=folium.Icon(color='red',icon='fire',)
    ).add_to(m)
m

In [64]:
df=pd.read_csv('./2016년_사망교통사고.csv',encoding='cp949')
df[['발생지시도', '발생지시군구']]
df['지역']=df['발생지시도'] + df['발생지시군구']
df[['발생지시도', '발생지시군구', '지역']]
df_res=df.groupby('지역').sum()[['사상자수']].sort_values('사상자수', ascending=False).head(5).reset_index()
df_res

tmp=gmaps.geocode('경남창원시(통합)', language='ko') 
tmp[0].keys()
tmp[0]['geometry']['location']
df_res

res=[]
for i in df_res['지역']:
    tmp = gmaps.geocode(i, language='ko')
    dic = {
            'addr': tmp[0]['formatted_address'],
            'lat': tmp[0]['geometry']['location']['lat'],
            'lng': tmp[0]['geometry']['location']['lng']
    }
    res.append(dic)
res

df1=pd.DataFrame(res)
df1

m = folium.Map(
    location=[36.3504119,127.3845475],
    zoom_start=7,
)

for idx,i in enumerate(df_res1['lat']):
    folium.Marker(
        location=[i, df_res1['lng'][idx]],
        popup=f'{idx+1}위 {df_res1["지역"][idx]}: {df_res1["사상자수"][idx]}명',
        icon=folium.Icon(color='red',icon='fire',)
    ).add_to(m)
m