In [3]:
과일=["사과", "귤", "수박"]
for i in 과일:
    print(i)

사과
귤
수박

In [5]:
과일=["사과", "귤", "수박"]
for i in 과일:
    print("과일")

과일
과일
과일

In [14]:
print("A")
print("B")
print("C")

A
B
C

In [16]:
print("출력: A")
print("출력: B")
print("출력: C")

출력: A
출력: B
출력: C

In [19]:
a="A"
i=a.lower()
print("변환:", i)
a="B"
i=a.lower()
print("변환:", i)
a="C"
i=a.lower()
print("변환:", i)

변환: a
변환: b
변환: c

In [23]:
for i in [10,20,30]:
    print(i)

10
20
30

In [24]:
for i in [10,20,30]:
    print(i)

10
20
30

In [35]:
for i in [10,20,30]:
    print(i)
    print("-------")

10
-------
20
-------
30
-------

In [28]:
for i in ["++++",10,20,30]:
    print(i)

++++
10
20
30

In [34]:
for 변수 in [1, 2, 3, 4]:
    print("-------")

-------
-------
-------
-------

In [39]:
list=[100,200,300]
for i in list:
    print(i+10)

110
210
310

In [41]:
list = ["김밥", "라면", "튀김"]
for i in list:
        print("오늘의 메뉴:", i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [44]:
list=["sk하이닉스","삼성전자","LG전자"]
for i in list:
    print(len(i))

6
4
4

In [46]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [52]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[:1])

d
c
p

In [60]:
리스트 = [1, 2, 3]
for i in 리스트:
    print("3 x", i)

3 x 1
3 x 2
3 x 3

In [59]:
a=5
리스트 = [1, 2, 3]
for i in 리스트:
    #print(a, "x", i, "=", a * i)
    print(f'{a}*{i}={a*i}')

5*1=5
5*2=10
5*3=15

In [64]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
    print(i)

나
다
라

In [67]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2]:
    print(i)

가
다

In [68]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [72]:
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [75]:
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i%3==0:
        print(i)

3

In [80]:
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if (i<20) and (i%3==0):
        print(i)

12
18

In [83]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [84]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper()==False:
        print(i)

b
c

In [86]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0].upper() + i[1:])

Dog
Cat
Parrot

In [90]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    split=i.split(".")
    print(split[0])

hello
ex01
intro

In [102]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    split=i.split(".")
    if (split[1] == "h"):
        print(i)

intra.h
define.h

In [101]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    split=i.split(".")
    if (split[1]=="h") or (split[1]=="c"):
        print(i)

intra.h
intra.c
define.h

In [105]:
a=[1,100]
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [107]:
a=[2002,2051]
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [110]:
for i in range(1, 31):
    if i%3==0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [122]:
for i in range(0,100):
    print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [116]:
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [124]:
a=3
for i in range(1,10,2):
    print(a, "x", i, "=", a*i)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [129]:
a=0
for i in range(1,11):
    a += i
print("합: ", a)

합:  55

In [131]:
a=1
for i in range(1,11):
    a *= i
print(a)

3628800

In [140]:
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [144]:
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [146]:
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(3 - i, data)

3 32100
2 32150
1 32000
0 32500

In [151]:
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(90 + 10 * i, price_list[i])

90 32100
100 32150
110 32000
120 32500

In [153]:
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list) - 1):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [ ]:
32
21
10

In [160]:
for i in range(4,0,-1):
    print(i)

4
3
2
1

In [157]:
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list) - 2:):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [166]:
my_list = ["가", "나", "다", "라"]
l=len(my_list)-1
for i in range(l,0,-1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [174]:
my_list = [100, 200, 400, 800]
for i in range(0,1,2):
    print(my_list[i], my_list[i+1], my_list[i+2])

100 200 400

In [178]:
my_list = [100, 200, 400, 800]
for i in my_list[0:-1]:
    print(i)

100
200
400

In [196]:
my_list = [100, 200, 400, 800, 1000, 1300]

for i in [1,2,3,4]:
          print(abs(my_list[i-1] + my_list[i] + my_list[i+1])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [207]:
my_list = [100, 200, 400, 800, 1000, 1300, 0, 0, 0]
c=len(my_list) -2
for i in range(c):
    print(sum(my_list[i:i+3])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333
766.6666666666666
433.3333333333333
0.0

In [201]:
len(my_list) -2

4

In [ ]:
012
123
234
345