In [7]:
ls=[1,2,3,4,5,]
r_ls=[]
for i in ls:
    r_ls.append(i*2)
    
print(r_ls)

[2, 4, 6, 8, 10]

In [18]:
ls_1=[1,2,3,4,5]
ls_2=[10,20,30,40,50]
r_ls_1=[]
r_ls_2=[]
for i in range(len(ls_1)):
    r_ls_1.append(ls_1[i]*2)
    r_ls_2.append(ls_2[i]*2)
print(r_ls_1)
print(r_ls_2)

[2, 4, 6, 8, 10]
[20, 40, 60, 80, 100]

In [22]:
ls_1=[1,2,3,4,5]
ls_2=[10,20,30,40,50]
r_ls_1=[]
r_ls_2=[]
for i,j in zip(ls_1,ls_2):
    r_ls_1.append(i*2)
    r_ls_2.append(j*2)
print(r_ls_1)
print(r_ls_2)

[2, 4, 6, 8, 10]
[20, 40, 60, 80, 100]

In [31]:
#예제) 데이터 정제
a={'서울':['서울','서울시','서울특별시'],
  '부산':['부산','부산시','부산광역시','부산직할시']}

dt=['서울','서울시','부산광역시','부산직할시']

for idx, i in enumerate(dt):
    print(idx,i)
    for key,v in a.items():
       # print(key,v)
        if i in v:
            dt[idx]=key
print(dt)

0 서울
1 서울시
2 부산광역시
3 부산직할시
['서울', '서울', '부산', '부산']

In [ ]:
#for문 4: 리스트 내포 사용
#[표현식 for 변수 in 시퀀스 자료]
#[표현식 for 뱐수 in 시퀀스 자료 if 조건문]

a=[1,2,3,4]

# 값*2 답기


# 2의 배수만 담기

명령어 한줄일 때만 가능

In [34]:
a=[1,2,3,4]
r_a=[]
for i in a:
    r_a.append(i*3)
print(r_a)

[3, 6, 9, 12]

In [36]:
a=[1,2,3,4]
r_a=[i*3 for i in a]
print(r_a)

[3, 6, 9, 12]

In [41]:
for i in range(1,11):
    if i%2==0:
        print(i, '----->','짝수')
    else:
        print(i, '----->', '홀수')

1 -----> 홀수
2 -----> 짝수
3 -----> 홀수
4 -----> 짝수
5 -----> 홀수
6 -----> 짝수
7 -----> 홀수
8 -----> 짝수
9 -----> 홀수
10 -----> 짝수

In [43]:
result=[]
for i in range(1,11):
    if i%2==0:
        result.append([i,'짝수'])
    else:
        result.append([i,'홀수'])
print(result)

[[1, '홀수'], [2, '짝수'], [3, '홀수'], [4, '짝수'], [5, '홀수'], [6, '짝수'], [7, '홀수'], [8, '짝수'], [9, '홀수'], [10, '짝수']]

In [45]:
result=[]
for i in range(1,11):
    if i%2==0:
        result.append(i)
print(result)

[2, 4, 6, 8, 10]

In [47]:
[i for i in range(1,11) if i%2==0]

[2, 4, 6, 8, 10]

In [48]:
[i for i in range(1,11) if i%2 !=0]

[1, 3, 5, 7, 9]

In [50]:
['짝수' if i%2==0 else '홀수' for i in range(1,11)]

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수']

In [53]:
[(i,'짝수') if i%2==0 else (i,'홀수') for i in range(1,11)]

[(1, '홀수'),
 (2, '짝수'),
 (3, '홀수'),
 (4, '짝수'),
 (5, '홀수'),
 (6, '짝수'),
 (7, '홀수'),
 (8, '짝수'),
 (9, '홀수'),
 (10, '짝수')]

In [55]:
#break, continue문
for i in range(11):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [81]:
n=0
for i in range(2,10):
    for j in range(1,10):
        print(f'{i:2}*{j:2}={i*j:2}', end=' ')
    print()

 2* 1= 2  2* 2= 4  2* 3= 6  2* 4= 8  2* 5=10  2* 6=12  2* 7=14  2* 8=16  2* 9=18
 3* 1= 3  3* 2= 6  3* 3= 9  3* 4=12  3* 5=15  3* 6=18  3* 7=21  3* 8=24  3* 9=27
 4* 1= 4  4* 2= 8  4* 3=12  4* 4=16  4* 5=20  4* 6=24  4* 7=28  4* 8=32  4* 9=36
 5* 1= 5  5* 2=10  5* 3=15  5* 4=20  5* 5=25  5* 6=30  5* 7=35  5* 8=40  5* 9=45
 6* 1= 6  6* 2=12  6* 3=18  6* 4=24  6* 5=30  6* 6=36  6* 7=42  6* 8=48  6* 9=54
 7* 1= 7  7* 2=14  7* 3=21  7* 4=28  7* 5=35  7* 6=42  7* 7=49  7* 8=56  7* 9=63
 8* 1= 8  8* 2=16  8* 3=24  8* 4=32  8* 5=40  8* 6=48  8* 7=56  8* 8=64  8* 9=72
 9* 1= 9  9* 2=18  9* 3=27  9* 4=36  9* 5=45  9* 6=54  9* 7=63  9* 8=72  9* 9=81

In [84]:
[i*j for i in range(2,10) for j in range(1,11)]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 60,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 80,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81,
 90]

In [62]:
a=2
for i in range(1,10):
    print(f'{a}*{i}={a*i}')

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18